*{
    padding: 0px;
    margin: 0px;

}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1 {
    margin-bottom: 5vh;
}
.game-container{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: black;
    height: max(30vw, 50vh);
    width: max(30vw,50vh);
}
.score{
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-top: 5vh;
}
.game-divs{
    border: 1px solid black;
}
.game-board-grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: '1px solid black';
    background-color: white;
    font-size: 10rem;
}
.game-board-grid > *:hover{
    background-color: aliceblue;
}